* {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.body-centered {
    justify-items: center;
}

select {
    width: 300px;
}

button {
    display: block;
    width: 300px;
    height: 100px;
    background-color: yellow;
    font-size: 20pt;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gamePage button {
    width: 200px;
    height: 40px;
    display: inline;
}


#homeLink {
    display: block;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 1000;
}

#coinContainer {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

img#coin {
    width: 100px;
    height: 100px;
    display: inline;
    float: right;
    position: relative;
    right: -10px;
}

#coinText {
    display: block;
    float: right;
    position: relative;
    font-size: 20pt;
    border: 2px solid black;
    width: 200px;
    top: 30px;
}

#shopImageButton {
    float: right;
    width: 180px;
    height: 79px;
    background-image: url('assets/shop.png');
    font-size: 12pt;
    background-repeat: no-repeat;
    text-align: right;
    position: fixed;
    right: 17px;
    bottom: 55px;
}

#mapButton {
    float: right;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 155px;
    height: 150px;
}

#svgMap {
    width: 100%;
    height: 100vh;
}

#svgMap,
#svgMap * {
    text-align: initial !important;
    align-content: initial !important;
    align-items: initial !important;
    align-self: initial !important;
    justify-content: initial !important;
    justify-items: initial !important;
}

.svgMap-map-wrapper .svgMap-map-controls-wrapper {
    right: 10px;
    left: initial;
}